.game-option-container {
    padding: 2px 2px;
    border: 3px solid transparent;
    border-radius: 4px;
}

.game-option-container.active-game-option {
    border-color: #3FBF9D;
}

.game-option-content {
    text-align: center;
    min-width: 200px;
    padding: 0.2em 2em;
    background-color: #3FBF9D;
    transition: 0.5s;
    cursor: pointer;
}

.game-option-content:hover {
    background-color: #1A9373;
}

.game-option-content h2 {
    font-size: 2em;
    color: #FFF;
    text-shadow: 3px 3px 4px #000;
    margin-bottom: 0.1em;
    font-weight: bold;
}

.game-option-content span {
    font-weight: bold;
}